{% extends 'layouts/layout.twig' %}

{% block content %}
    <h2>Admin Panel</h2>
    <p>Welcome {{ user.name }}!
    <ul>
        <li><a href="{{ 'admin/posts' | url }}">Posts</a></li>
        <li><a href="{{ 'admin/users' | url }}">Users</a></li>
        <li><a href="{{ 'auth/logout' | url }}">Logout</a></li>
    </ul>
{% endblock %}