{% extends 'layouts/layout.twig' %}

{% block content %}
<h2>New User</h2>
<a class="btn btn-default" href="{{ 'admin/users' | url }}">Back</a>

{% if errors %}
    {% include('partials/errors.twig') %}
{% endif %}

{% if result %}
    <div class="alert alert-success">User Saved!</div>
{% endif %}

<form method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" type="text" id="name" name="name">

        <label for="email">Email</label>
        <input class="form-control" type="text" id="email" name="email">

        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password">

        <input class="btn btn-primary" type="submit" value="Save">
    </div>
</form>
{% endblock %}
