{% extends 'layouts/layout.twig' %}

{% block content %}
<h2>New Post</h2>
<a class="btn btn-default" href="{{ 'admin/posts' | url }}">Back</a>

{% if errors %}
    {% include('partials/errors.twig') %}
{% endif %}

{% if result %}
    <div class="alert alert-success">Post Saved!</div>
{% endif %}

<form method="post" >
    <div class="form-group" enctype="multipart/form-data">
        <label for="title">Title</label>
        <input class="form-control" type="text" id="title" name="title">

        <label for="content">Content</label>
        <textarea class="form-control" name="content" id="content" rows="5"></textarea>

        <label for="image">Image</label>
        <input class="form-control" type="file" id="image" name="image">

        <input class="btn btn-primary" type="submit" value="Save">
    </div>
</form>
{% endblock %}
