{% extends 'layouts/layout.twig' %}

{% block content %}
<h2>Posts List</h2>
<a class="btn btn-primary" href="{{ 'admin/posts/new' | url }}">New Post</a>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for blogPost in blogPosts %}
            <tr>
                <td>{{ blogPost.title }}</td>
                <td>
                    <a href="">Edit</a>
                    <a href="">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}