<div class="alert alert-danger">
    <ul>
        {% for messages in errors %}
            {% for message in messages  %}
                <li>{{ message }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>