{% extends 'layouts/layout.twig' %}

{% block content %}
    {% for blogPost in blogPosts %}
        <div class="blog-post">
            <h2>{{ blogPost.title }}</h2>
            <p>Jan 1, 2020 by <a href="">Admin</a></p>
            
            <div class="blog-post-image">
                {% if blogPost.image %}
                    <img src="{{ blogPost.image }}" alt="">
                {% else %}
                    <img src="../images/noimage.jpg" alt="">
                {% endif %}
            </div>
            
            <div class="blog-post-content">{{ blogPost.content }}</div>
        </div>
    {% endfor %}
{% endblock %}
