{% extends 'layouts/layout.twig' %}

{% block content %}

    <h2>Log in</h2>

    {% if errors %}
        {% include('partials/errors.twig') %}
    {% endif %}

    <form method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input class="form-control" type="text" id="email" name="email">

            <label for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password">
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Sign In">
        </div>
    </form>
{% endblock %}
